In [5]:
# Đọc file
import pandas
df_data = pandas.read_csv('D:\MindX\Part_1\Test\etflix_titles.csv')
print(df_data)

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

     date_added  release_year rating   duration  \
0     25-Sep-21          2020  PG-13     90 min
1     24-Sep-21          2021  TV-MA  2 Seasons
2     24-Sep-21          2021  TV-MA   1 Season
3     24-Sep-21          2021  TV-MA   1 Season
4     24-Sep-21          2021  TV-MA  2 Seasons
...         ...           ...    ...        ...
8802  20-Nov-19          2007      R    158 min
8803   1-Jul-19          2018  TV-Y7  2 Seasons
8804   1-Nov-19          2009      R     88 min
8805  11-Jan-20          2006     PG     88 min
8806   2-Mar-19          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

In [6]:
# Kiể tra số lượng dòng và cột
# Sau đóng kiểm tra số dòng
import pandas
print(df_data.shape)
print(df_data.columns)

(8807, 12)
Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [7]:
# Xóa cột director và cast do dữ liệu trống quá nhiều và không dùng cho phân tích
del df_data['director']
del df_data['cast']
print(df_data)

     show_id     type                  title        country date_added  \
0         s1    Movie   Dick Johnson Is Dead  United States  25-Sep-21
1         s2  TV Show          Blood & Water   South Africa  24-Sep-21
2         s3  TV Show              Ganglands            NaN  24-Sep-21
3         s4  TV Show  Jailbirds New Orleans            NaN  24-Sep-21
4         s5  TV Show           Kota Factory          India  24-Sep-21
...      ...      ...                    ...            ...        ...
8802   s8803    Movie                 Zodiac  United States  20-Nov-19
8803   s8804  TV Show            Zombie Dumb            NaN   1-Jul-19
8804   s8805    Movie             Zombieland  United States   1-Nov-19
8805   s8806    Movie                   Zoom  United States  11-Jan-20
8806   s8807    Movie                 Zubaan          India   2-Mar-19

      release_year rating   duration  \
0             2020  PG-13     90 min
1             2021  TV-MA  2 Seasons
2             2021  TV-MA   1 Season
3             2021  TV-MA   1 Season
4             2021  TV-MA  2 Seasons
...            ...    ...        ...
8802          2007      R    158 min
8803          2018  TV-Y7  2 Seasons
8804          2009      R     88 min
8805          2006     PG     88 min
8806          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 10 columns]

In [8]:
# Kiểm tra số lượng dòng và cột
# Sau đóng kiểm tra số dòng
import pandas
print(df_data.shape)
print(df_data.columns)

(8807, 10)
Index(['show_id', 'type', 'title', 'country', 'date_added', 'release_year',
       'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [9]:
# Kiểm tra số dòng Null của từng cột
missing_count = df_data.isnull().sum()
print(missing_count)

show_id           0
type              0
title             0
country         831
date_added       10
release_year      0
rating            4
duration          3
listed_in         0
description       0
dtype: int64

In [10]:
# Xóa các dòng null
df_data1 = df_data.dropna(subset=['country','duration','rating','date_added'])
missing_count1 = df_data1.isnull().sum()
print(missing_count1)

show_id         0
type            0
title           0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [11]:
# Kiểm tra kiểu dữ liệu
print(df_data1.dtypes)

show_id         object
type            object
title           object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [12]:
# Chuyển kiểu dự liệu cột
df_data1['date_added'] = pandas.to_datetime(df_data1['date_added'])
print(df_data1.dtypes)

show_id                 object
type                    object
title                   object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
dtype: object

C:\Users\vinhp\AppData\Local\Temp\ipykernel_28076\3693370923.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data1['date_added'] = pandas.to_datetime(df_data1['date_added'])

In [13]:
# Convert giá trị trong cột
df_data1.loc[df_data1['duration'] == '1 Season', 'duration'] = '966 min'
df_data1.loc[df_data1['duration'] == '2 Seasons', 'duration'] = '1932 min'
df_data1.loc[df_data1['duration'] == '3 Seasons', 'duration'] = '2898 min'
df_data1.loc[df_data1['duration'] == '4 Seasons', 'duration'] = '3864 min'
df_data1.loc[df_data1['duration'] == '5 Seasons', 'duration'] = '4830 min'
df_data1.loc[df_data1['duration'] == '6 Seasons', 'duration'] = '5796 min'
df_data1.loc[df_data1['duration'] == '7 Seasons', 'duration'] = '6762 min'
df_data1.loc[df_data1['duration'] == '8 Seasons', 'duration'] = '7728 min'
df_data1.loc[df_data1['duration'] == '9 Seasons', 'duration'] = '8694 min'
df_data1.loc[df_data1['duration'] == '10 Seasons', 'duration'] = '9660 min'
df_data1.loc[df_data1['duration'] == '11 Seasons', 'duration'] = '10626 min'
df_data1.loc[df_data1['duration'] == '12 Seasons', 'duration'] = '11592 min'
df_data1.loc[df_data1['duration'] == '13 Seasons', 'duration'] = '12558 min'
df_data1.loc[df_data1['duration'] == '14 Seasons', 'duration'] = '13524 min'
df_data1.loc[df_data1['duration'] == '15 Seasons', 'duration'] = '14490 min'
df_data1.loc[df_data1['duration'] == '16 Seasons', 'duration'] = '15456 min'
df_data1.loc[df_data1['duration'] == '17 Seasons', 'duration'] = '16422 min'
df_data1.loc[df_data1['duration'] == '18 Seasons', 'duration'] = '17388 min'
df_data1.loc[df_data1['duration'] == '19 Seasons', 'duration'] = '18354 min'
df_data1.loc[df_data1['duration'] == '20 Seasons', 'duration'] = '19320 min'
df_data1['duration'] = df_data1['duration'].str.replace('[a-zA-Z]', '')

C:\Users\vinhp\AppData\Local\Temp\ipykernel_28076\980132003.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df_data1['duration'] = df_data1['duration'].str.replace('[a-zA-Z]', '')
C:\Users\vinhp\AppData\Local\Temp\ipykernel_28076\980132003.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data1['duration'] = df_data1['duration'].str.replace('[a-zA-Z]', '')

In [14]:
# Convert cột country
df_data1.loc[df_data1['country'].str.contains(','), 'country'] = 'Multinational'

In [15]:
#Chuyển kiểu dự liệu cột duration
df_data1['duration'] = df_data1['duration'].astype(int)

C:\Users\vinhp\AppData\Local\Temp\ipykernel_28076\3274798968.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data1['duration'] = df_data1['duration'].astype(int)

In [16]:
# Kiểm tra kiểu dữ liệu
print(df_data1.dtypes)

show_id                 object
type                    object
title                   object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                 int32
listed_in               object
description             object
dtype: object

In [17]:
# Xuất file 
df_data1.to_csv('D:\MindX\Part_1\Test\etflix_titles1.csv', index=False)